*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: min(80vw, 760px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  font-family: sans-serif;
}

.main__title {
  text-transform: lowercase;
}

.output {
  display: block;
  width: 100%;
}

.keyboard {
  width: 100%;
  min-width: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .2em;
  border: 1px solid #202020;
  border-radius: 4px;
  padding: .4em;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animate-bg 15s ease infinite;
}

@keyframes animate-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  padding: 0.2em 0.2em;
  transition: .2s;
  appearance: none;
  width: 45px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: #32323254;
  box-shadow: 2px 2px 3px #252525;
  cursor: pointer;
}

button.backspace,
button.controlleft,
button.shiftleft,
button.shiftright
{
  width: 80px;
}

button.tab,
button.capslock,
button.enter,
button.delete
{
  width: 60px;
}

button.space {
  width: 250px;
}

.button:hover {

}

button:active {
  box-shadow: none;
  transform: translate(0px, 3px);
}

.button__shift-key {
  display: block;
  font-size: 12px;
  font-weight: 300;
  text-align: start;
  color: #eeeeee;
}

.button__main-key {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #eeeeee;
}

.capslock-active {
  background: #e73c7e;
  color: white;
}

.animated {
  box-shadow: none;
  transform: translate(0px, 3px);
}
